.hole-game {
  display: grid;
  max-width: 370px;
  margin: auto;
  grid-template: repeat(4, 85px) / repeat(4, 4fr);
  gap: 10px;
}

.hole {
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.hole_with-goblin {
  background-color: crimson;
  background-image: url(/pic/goblin.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}